.message {
  display: flex;
  margin: 12px 0;
  font-size: 0.56rem;
  &:last-child {
    margin: 12px 0 0;
  }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &__left,
  &__right {
    padding: 7px 10px;
    max-width: 60%;
  }

  &__left {
    color: $color-primary-text-chat-left;
    background-color: lighten(
      $color: $color-primary-text-heading-sub,
      $amount: 14%
    );
    border-radius: 12px 12px 12px 5px;
  }

  &__right {
    color: $color-primary-text-chat-right;
    background-color: $color-secondary-white;
    border-radius: 12px 12px 5px 12px;
    &--img {
      flex-basis: 65%;
      display: flex;
      justify-content: space-between;
      padding: 0;
      background-color: transparent;
    }
  }

  &__img-wrap {
    flex-basis: 30%;
    border-radius: 12px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}
