.phone {
  margin: 60px auto;
  padding: 10px;
  width: 260px;
  background-color: $color-secondary-white;
  border-radius: 20px;

  //HEADER STYLES

  &__header {
    position: relative;
    display: flex;
    padding: 30px 10px 10px;
    background: linear-gradient(
      90deg,
      $color-gradient-violet,
      $color-gradient-magenta
    );
    border-radius: 20px 20px 0 0;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 60%;
      height: 20px;
      background-color: $color-secondary-white;
      border-radius: 0 0 20px 20px;
      transform: translateX(-50%);
    }
  }

  &__icon-goback-wrap,
  &__icon-menu-wrap {
    display: flex;
    align-items: center;
  }

  &__phone-icon-goback,
  &__phone-icon-menu {
    color: $color-primary-text-placeholder;
  }

  &__phone-icon-goback {
    font-size: 0.6rem;
    transform: scaleY(2);
  }

  &__user-avatar {
    margin: 0 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid $color-secondary-white;
    overflow: hidden;
  }

  &__user-avatar-img {
    width: 100%;
    height: 100%;
  }

  &__user-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__user-name {
    font-size: 0.7rem;
    font-weight: 500;
    color: $color-secondary-white;
  }

  &__user-status {
    font-size: 0.5rem;
    color: $color-primary-text-paragraph;
  }

  &__icon-menu-wrap {
    margin: 0 0 0 auto;
  }

  //MESSAGE AREA STYLES

  //FOOTER STYLES

  &__footer {
    padding: 15px 10px 10px;
    background-color: $color-secondary-background-app;
    border-radius: 0 0 20px 20px;
  }

  &__input {
    display: flex;
    padding: 5px 5px 5px 15px;
    color: $color-primary-text-paragraph;
    background-color: $color-secondary-white;
    border-radius: 50px;
  }

  &__input-placeholder {
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
  }

  &__input-btn {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: $color-secondary-background-btn;
    border-radius: 50%;
  }

  &__input-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0.7rem;
    color: $color-secondary-white;
    transform: translate(-35%, -59%);
  }

  @media screen and (min-width: 1024px) {
    margin: 0;
  }
}
