$font-size-default: 16px;
$font-family-default: 'Rubik', sans-serif;

$color-primary-text-heading-main: hsl(271, 36%, 24%);
$color-primary-text-heading-sub: hsl(276, 100%, 81%);
$color-primary-text-chat-left: hsl(276, 55%, 52%);
$color-primary-text-chat-right: hsl(271, 15%, 43%);
$color-primary-text-placeholder: hsl(206, 6%, 79%);
$color-primary-text-paragraph: hsl(270, 7%, 64%);

$color-gradient-magenta: hsl(293, 100%, 63%);
$color-gradient-violet: hsl(264, 100%, 61%);

$color-secondary-white: hsl(0, 0%, 100%);
$color-secondary-background-app: hsl(270, 20%, 96%);
$color-secondary-background-btn: hsl(271, 36%, 24%);
$color-secondary-outline-btn: hsl(289, 100%, 72%);
